.containerex
{
    
    background-color: rgb(161, 220, 239);
    margin: 0px 20px 5px 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    height:720px;
    width:420px;
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;
    
   
}
.resetbtn
{
background-color: rgb(246, 86, 86);
padding: 6px;
color: white;
}
.submitbtn
{
background-color: rgb(9, 245, 135);
padding: 6px;
color: white;
}